// inline list
@mixin list-inline() { li { display: inline } }

.playnow{ 
	color: $fd-green; 
	text-decoration: none;
	font-weight: bold;
	&.ml{
		margin-left: 2%;
	}
}

.social a{
	color: $fd-gray;
	@include rm(font-size, 20/16rem);
}

.more{
	display: inline-block;
	color: $white !important;
	clear: both; 
	margin: 20px 0; 
	text-decoration: none;
	font-size: 16px !important;
	@include proxima-nova-semibold();
	background: $fd-green;
	padding: 13px 15px;
    @include transition(all 0.2s ease-in);
  	border-radius: 4px;

	&:hover, &:active{
		background: $fd-hover-green;
		color: $white;
        @include transition(all 0.2s ease-in);
	}
	@include sm-down{
		text-align: center;
		width: 100%;
	}
}

.btn{
	color: $white;
	display: inline-block;
	background: $fd-green;
  	border: 1px solid #65ae15;
  	border-radius: 4px;
	@include proxima-nova-semibold();
	font-size: 15px;
	padding: 10px 15px;
    @include transition(all 0.2s ease-in);

	@include sm-down{
		padding: 16px 20px;
	}
	text-decoration: none;
	letter-spacing: 0;
    display: table-cell;
    vertical-align: middle;
	&.square{
		border-radius: 0;	
	}

	&:hover{
		background: $fd-hover-green;
		color: $white;
        @include transition(all 0.2s ease-in);
	}
}

// Search
#searchform{
	margin: 0 73px 0 0;
	opacity: 0;
    @include transition(all 0.2s ease-in);
	border-radius: 0;
	color: #3d3c3c;
	@include sm-down {
		opacity: 1;
		margin: 0;
		width: 100%;
		height: 62px;
	}
	.screen-reader-text{
		display: none;
	}

    .searchform-wrap{
    	width: 0%;
       	@include transition(all 0.3s ease-in);
       	float:right;
    }

	&.on{
		opacity: 1;
        @include transition(all 0.2s ease-in);
        #searchform input[type=text]{
        	width: 100%;
        	@include transition(all 0.2s ease-in);
        }

        .searchform-wrap{
        	width: 100%;
        	@include transition(all 0.4s ease-in);
        }
	} 

	span.ss-icon{ display: none; }

	@include sm-down{
		.searchform-wrap{
			position: relative;
			width: 100%;
			opacity: 1; 
		}
		span.ss-icon{
			display: block;
			position: absolute;
			top: 44%;
			right: 85px;
			font-size: 20px;
		}
	}
}

//search placeholder text
::-webkit-input-placeholder {
 	color: #3d3c3c;
}
:-moz-placeholder{
	color: #3d3c3c;
}
::-moz-placeholder{
	color: #3d3c3c;
} 
:-ms-input-placeholder{
	color: #3d3c3c;
}



#searchform input[type=submit] {
	display: none;
}
#searchform input[type=text] {
	margin: 0;
	border: none;
	font-style: italic;
	height: 49px;
	padding-left: 20px;
	border-radius: 0;
	@include proxima-nova();
	@include sm-down {
		width: 100%;
		height: 62px;
		background: $fd-search-gray;
		border-radius: 0;
		color: #4c4c4c;
		padding-left: 20px;
		font-size: 18px;
		letter-spacing: 1px;
        @include transition(all 0.2s ease-in);

		&:focus{
			background: $fd-light-search-gray;
       		@include transition(all 0.2s ease-in);
		}
	}
}


.search-btn{
	background: $fd-light-search-gray;
	color: $fd-gray;
	cursor: pointer;
	display: inline-block;
	float: right;
	@include rm(font-size, 20/16rem);
	padding: 20px 21px 12px;
	margin-right: 10px;
    @include transition(all 0.2s ease-in);
	&:hover, &.on{
		background: $fd-green;
		color: $white;
	    @include transition(all 0.2s ease-in);
	}
}


